<appSettings>
    <add key="FacebookAppId" value="3848954378463165" />
    <add key="FacebookAppSecret" value="1c5e0e38eea72bc6fdea190c95fbf16e" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>