@model Videe.ViewModels.CustomersListViewModel
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@if (Model.Customers != null)
{
    <table class=“table table-bordered table-hover”>
        <thead>
            <tr><th>Customers</th></tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr><td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We currently don't have any customers.</p>
}